grocery-buddy-service/target
grocery-buddy-service/target/*
angular2-seed/node_modules
angular2-seed/node_modules/*
grocery-buddy-service/.settings
grocery-buddy-service/.settings/*
angular2-seed/app/.DS_Store
grocery-buddy-service/.DS_Store
grocery-buddy-service/.settings/
grocery-buddy-service/.settings/*

angular2-seed/app/*.js
angular2-seed/app/*.js.map
angular2-seed/.DS_Store

grocery-buddy-service/.classpath
grocery-buddy-service/.project
