grocery-buddy/grocery-buddy-service/target
grocery-buddy/grocery-buddy-service/target/*
grocery-buddy/angular2-seed/node_modules
grocery-buddy/angular2-seed/node_modules/*
grocery-buddy/grocery-buddy-service/.settings
grocery-buddy/grocery-buddy-service/.settings/*
grocery-buddy/angular2-seed/app/.DS_Store
grocery-buddy/grocery-buddy-service/.DS_Store
grocery-buddy/grocery-buddy-service/.settings/
grocery-buddy/grocery-buddy-service/.settings/*

grocery-buddy/angular2-seed/app/*.js
grocery-buddy/angular2-seed/app/*.js.map
grocery-buddy/angular2-seed/.DS_Store

grocery-buddy/grocery-buddy-service/.classpath
grocery-buddy/grocery-buddy-service/.project
